<div class="row page-content">
    <div class="row control-group">
        <div class="col-md-3">
            <label for="userName">User Name </label>
        </div>
        <div class="col-md-3">
            <input type="text" name="userName" ng-model="userName" />
        </div>
    </div>
    <div class="row control-group">
        <div class="col-md-3">
            <label for="password">Password</label>
        </div>
        <div class="col-md-3">
            <input type="password" name="password" ng-model="password" />
        </div>
    </div>
    <div class="row control-group">
        <div class="col-md-3">
            <button class="button" ng-click="login()">Login</button>
        </div>
    </div>
<br/>
    <div class="row control-group">
        <div class="col-md-3">
            <label for="signup">New User?</label><a href="#/signup">Sign Up</a>
        </div>
    </div>

</div>